@model OrderViewModel

@{
    ViewData["Title"] = "Orders";
    var orderDetails = Model.OrderDetails.ToList();
    List<ProductViewModel> products = ViewBag.Products ?? new List<ProductViewModel>();
}

<div class="row justify-content-center mb-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5>Order</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <p class="card-text">@($"{nameof(Model.Id)}: {Model.Id}")</p>
                    <p class="card-text">@($"{nameof(Model.EmployeeId)}: {Model.EmployeeId}")</p>
                    <p class="card-text">@($"{nameof(Model.CustomerId)}: {Model.CustomerId}")</p>
                    <p class="card-text">@($"{nameof(Model.ShipperId)}: {Model.ShipperId}")</p>
                    <p class="card-text">@($"{nameof(Model.OrderDate)}: {Model.OrderDate}")</p>
                    <p class="card-text">@($"{nameof(Model.RequiredDate)}: {Model.RequiredDate}")</p>
                    <p class="card-text">@($"{nameof(Model.ShippedDate)}: {Model.ShippedDate}")</p>
                    <p class="card-text">@($"{nameof(Model.Freight)}: {Model.Freight}")</p>
                    <p class="card-text">@($"{nameof(Model.ShipName)}: {Model.ShipName}")</p>
                    <p class="card-text">@($"{nameof(Model.ShipAddress)}: {Model.ShipAddress}")</p>
                    <p class="card-text">@($"{nameof(Model.ShipCity)}: {Model.ShipCity}")</p>
                    <p class="card-text">@($"{nameof(Model.ShipRegion)}: {Model.ShipRegion}")</p>
                    <p class="card-text">@($"{nameof(Model.ShipPostalCode)}: {Model.ShipPostalCode}")</p>
                    <p class="card-text">@($"{nameof(Model.ShipCountry)}: {Model.ShipCountry}")</p>
                    <h5 class="card-title">@("ProductIds:")</h5>
                        @foreach (var detail in Model.OrderDetails)
                        {
                            <p class="card-text">@detail.ProductId</p>
                        }
                        <form asp-controller="Orders" asp-action="DeleteOrder" asp-route-id="@Model.Id" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                </div>
            </div>
        </div>

        <div class="card-footer"></div>

    </div>
</div>