@model OrderViewModel

@{
    List<ProductViewModel> products = ViewBag.Products ?? new List<ProductViewModel>();
    var orderDetails = Model.OrderDetails.ToList();
}

<h1>Edit</h1>
<hr/>


<div class="container justify-content-center">
    <div class="row justify-content-center">
        <form asp-controller="Orders" asp-action="Edit" asp-route-id="@Model.Id" method="post">
            @for(int i = 0; i < Model.OrderDetails.Count; i++)
            {
                <div class="row justify-content-center mb-3">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>OrderDetail</h5>
                            </div>

                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label">UnitPrice</label>
                                    <input asp-for="OrderDetails[i].UnitPrice" 
                                           type="number" class="form-control" value="@orderDetails[i].UnitPrice">
                                    <span asp-validation-for="OrderDetails[i].UnitPrice" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Discount</label>
                                    <input asp-for="OrderDetails[i].Discount" 
                                        type="number" class="form-control" value="@orderDetails[i].Discount">
                                    <span asp-validation-for="OrderDetails[i].Discount" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">ProductId</label>
                                    <input asp-for="OrderDetails[i].ProductId" 
                                        type="number" class="form-control" value="@orderDetails[i].ProductId">
                                    <span asp-validation-for="OrderDetails[i].ProductId" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Quantity</label>
                                    <input asp-for="OrderDetails[i].Quantity" 
                                        type="number" class="form-control" value="@orderDetails[i].Quantity">
                                    <span asp-validation-for="OrderDetails[i].Quantity" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="card-footer"></div>

                        </div>
                    </div>
                </div>
            }
            <div class="row justify-content-center" style="width: 961px; padding-left: 337px">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>

    </div>
</div>